apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

configMapGenerator:
- behavior: replace
  files:
  - sources.yaml=dev-sources.yaml
  - dev-organization-models.yaml=dev-organization-models.yaml
  - dev-validated-models.yaml=dev-validated-models.yaml
  - dev-community-models.yaml=dev-community-models.yaml
  name: model-catalog-sources
  options:
    disableNameSuffixHash: true
- behavior: create
  files:
  - dev-validated-perf-data.tar.gz
  name: model-catalog-demo-perf-data
  options:
    disableNameSuffixHash: true

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: model-catalog-server
  patch: |-
    - op: add
      path: /spec/template/spec/volumes/0
      value:
        name: demo-perf-data
        configMap:
          name: model-catalog-demo-perf-data
    - op: add
      path: /spec/template/spec/volumes/1
      value:
        name: perf-data
        emptyDir: {}
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts/0
      value:
        name: perf-data
        mountPath: /perf-data
    - op: add
      path: /spec/template/spec/containers/0/args/0
      value: "--performance-metrics=/perf-data"
    - op: add
      path: /spec/template/spec/initContainers
      value:
        - name: perf-data-init
          image: busybox
          command:
            - /bin/sh
            - -c
            - tar zxf /demo-perf-data/dev-validated-perf-data.tar.gz -C /shared
          volumeMounts:
            - name: perf-data
              mountPath: /shared
            - name: demo-perf-data
              mountPath: /demo-perf-data
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
