apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../../base
  - namespace.yaml
images:
  - name: ghcr.io/kubeflow/training-v1/training-operator
    newTag: v1-3f15cb8
secretGenerator:
  - name: training-operator-webhook-cert
    options:
      disableNameSuffixHash: true
