apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
  # Namespace.
  # Katib controller.
  # Katib CRDs.
  # Katib DB manager.
  # Katib DB mysql.
  # Katib UI.
  # Katib webhooks.
  # Cert-manager certificate for webhooks
resources:
- ../../components/namespace
- ../../components/controller/
- ../../components/crd/
- ../../components/db-manager/
- ../../components/mysql/
- ../../components/ui/
- ../../components/webhook/
- certificate.yaml
images:
- name: ghcr.io/kubeflow/katib/katib-controller
  newName: ghcr.io/kubeflow/katib/katib-controller
  newTag: v0.18.0
- name: ghcr.io/kubeflow/katib/katib-db-manager
  newName: ghcr.io/kubeflow/katib/katib-db-manager
  newTag: v0.18.0
- name: ghcr.io/kubeflow/katib/katib-ui
  newName: ghcr.io/kubeflow/katib/katib-ui
  newTag: v0.18.0


vars:
- fieldref:
    fieldPath: metadata.namespace
  name: KATIB_NAMESPACE
  objref:
    apiVersion: v1
    kind: Service
    name: katib-controller
- fieldref:
    fieldPath: metadata.name
  name: KATIB_SERVICE_NAME
  objref:
    apiVersion: v1
    kind: Service
    name: katib-controller
- fieldref:
    fieldPath: metadata.name
  name: KATIB_CERT_NAME
  objref:
    group: cert-manager.io
    kind: Certificate
    name: katib-webhook-cert
    version: v1

configurations:
- params.yaml

configMapGenerator:
- behavior: create
  files:
  - katib-config.yaml
  name: katib-config
  options:
    disableNameSuffixHash: true
patches:
- path: patches/katib-cert-injection.yaml
