apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

configMapGenerator:
- behavior: add
  files:
  - sources.yaml=default-sources.yaml
  name: model-catalog-default-sources
  options:
    disableNameSuffixHash: true

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: model-catalog-server
  patch: |-
    - op: add
      path: /spec/template/spec/volumes/0
      value:
        name: shared-data
        emptyDir: {}
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts/0
      value:
        name: shared-data
        mountPath: /shared-data
    - op: add
      path: /spec/template/spec/volumes/1
      value:
        name: default-sources
        configMap:
          name: model-catalog-default-sources
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts/1
      value:
        name: default-sources
        mountPath: /default-sources
    - op: add
      path: /spec/template/spec/containers/0/args/0
      value: "--catalogs-path=/default-sources/sources.yaml"
    - op: add
      path: /spec/template/spec/initContainers
      value:
        - name: catalog-data-init
          image: quay.io/opendatahub/odh-model-metadata-collection:latest
          command:
            - /bin/sh
            - -c
            - mkdir /shared-data/catalog && cp /app/data/models-catalog.yaml /app/data/validated-models-catalog.yaml /shared-data/catalog/
          volumeMounts:
            - name: shared-data
              mountPath: /shared-data
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
