apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-deployment
spec:
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
      - env:
        - name: NAMESPACE
          value: '' # Empty namespace let viewer controller watch all namespaces
        image: gcr.io/ml-pipeline/viewer-crd-controller:0.1.31
        imagePullPolicy: Always
        name: ml-pipeline-viewer-controller
      serviceAccountName: crd-service-account
