---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tekton-pipelines-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tekton-pipelines-controller
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
      labels:
        app: tekton-pipelines-controller
    spec:
      containers:
      - args:
        - -logtostderr
        - -stderrthreshold
        - INFO
        - -kubeconfig-writer-image
        - $(registry)/$(kubeconfigwriter)
        - -creds-image
        - $(registry)/$(creds-init)
        - -git-image
        - $(registry)/$(git-init)
        - -nop-image
        - $(registry)/$(nop)
        - -bash
        - $(registry)/$(bash)
        - -bash-noop-image
        - $(registry)/$(bash)
        - -gcs-fetcher
        - $(registry)/$(gcs-fetcher)
        - -gcs-uploader
        - $(registry)/$(gcs-uploader)
        - -gsutil-image
        - $(registry)/$(gsutil)
        - -entrypoint-image
        - $(registry)/$(entrypoint)
        - -imagedigest-exporter-image
        - $(registry)/$(imagedigestexporter)
        - -pr-image
        - $(registry)/$(pullrequest-init)
        image: $(registry)/$(controller)
        name: tekton-pipelines-controller
        volumeMounts:
        - mountPath: /etc/config-logging
          name: config-logging
      serviceAccountName: tekton-pipelines-controller
      volumes:
      - configMap:
          name: config-logging
        name: config-logging
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tekton-pipelines-webhook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tekton-pipelines-webhook
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
      labels:
        app: tekton-pipelines-webhook
    spec:
      containers:
      - image: $(registry)/$(webhook)
        name: webhook
        volumeMounts:
        - mountPath: /etc/config-logging
          name: config-logging
      serviceAccountName: tekton-pipelines-controller
      volumes:
      - configMap:
          name: config-logging
        name: config-logging
