{{- if and .Values.apiServer.enabled (eq .Values.installMode.type "multi-user") }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: pipeline-api-server-config
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
data:
  {{- if eq .Values.installMode.type "multi-user" }}
  MULTIUSER: "true"
  DEFAULTPIPELINERUNNERSERVICEACCOUNT: "default-editor"
  {{- else }}
  MULTIUSER: "false"
  DEFAULTPIPELINERUNNERSERVICEACCOUNT: "pipeline-runner"
  {{- end }}
  VISUALIZATIONSERVICE_NAME: "ml-pipeline-visualizationserver"
  VISUALIZATIONSERVICE_PORT: "8888"
{{- end }}