apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Build on top of the default manager installation
resources:
  - ../manager # Installs in kubeflow-system namespace
  - ../../third-party/leaderworkerset # Installs in kubeflow-system namespace
  - ../../base/runtimes/data-cache # ClusterTrainingRuntime (cluster-scoped)
  - cluster_role.yaml # ClusterRole (cluster-scoped)
  - namespace-rbac # ServiceAccount and RoleBinding in default namespace

# Add data cache image tags
images:
  - name: ghcr.io/kubeflow/trainer/dataset-initializer
    newTag: v2.1.0

# Patch namespace-rbac resources to install in default namespace
patches:
  - target:
      kind: ServiceAccount
      name: kubeflow-trainer-cache-initializer
    patch: |-
      - op: add
        path: /metadata/namespace
        value: default
  - target:
      kind: RoleBinding
      name: kubeflow-trainer-cache-initializer
    patch: |-
      - op: add
        path: /metadata/namespace
        value: default
  # Add unique label to JobSet controller pods
  - path: jobset_patches/controller_pod_labels.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      name: jobset-controller-manager
  # Update JobSet webhook service selector to use unique label
  - path: jobset_patches/webhook_service_selector.yaml
    target:
      group: ""
      version: v1
      kind: Service
      name: jobset-webhook-service
  # Update JobSet metrics service selector to use unique label
  - path: jobset_patches/metrics_service_selector.yaml
    target:
      group: ""
      version: v1
      kind: Service
      name: jobset-controller-manager-metrics-service
