---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: istio-system
resources:
- ../../../../istio/oidc-authservice/base
- service-account.yaml
- vs.yaml
commonLabels:
  app.kubernetes.io/component: oidc-authservice
  app.kubernetes.io/name: oidc-authservice
patches:
- path: sts-patch.yaml
configMapGenerator:
- name: oidc-authservice-parameters
  behavior: merge
  envs:
  - params.env
