apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- upstream/cert-manager.yaml

patches:
- path: namespace-patch.yaml

# XXX: Do NOT use the namespace transformer, as cert-manager defines resources
# in two namespaces, 'cert-manager' and 'kube-system'.
# For more information, see https://github.com/jetstack/cert-manager/issues/4102.
