apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
  # Kubeflow Katib components.
resources:
- ../katib-cert-manager
- kubeflow-katib-roles.yaml
- ui-virtual-service.yaml
- istio-authorizationpolicy.yaml
images:
- name: ghcr.io/kubeflow/katib/katib-controller
  newName: ghcr.io/kubeflow/katib/katib-controller
  newTag: v0.18.0
- name: ghcr.io/kubeflow/katib/katib-db-manager
  newName: ghcr.io/kubeflow/katib/katib-db-manager
  newTag: v0.18.0
- name: ghcr.io/kubeflow/katib/katib-ui
  newName: ghcr.io/kubeflow/katib/katib-ui
  newTag: v0.18.0


  # Extend RBAC permission list of katib-ui so it can
  # create SubjectAccessReview resources.
  # Enable RBAC authz checks in UI's backend.
  # Allow istio sidecar injection in katib-UI Pod.
patches:
- path: patches/ui-rbac.yaml
  target:
    group: rbac.authorization.k8s.io
    kind: ClusterRole
    name: katib-ui
    version: v1
- path: patches/enable-ui-authz-checks.yaml
  target:
    kind: Deployment
    name: katib-ui
    version: v1
- path: patches/istio-sidecar-injection.yaml
  target:
    kind: Deployment
    name: katib-ui
- path: patches/remove-namespace.yaml

vars:
- fieldref:
    fieldPath: metadata.namespace
  name: KATIB_UI_NAMESPACE
  objref:
    apiVersion: apps/v1
    kind: Deployment
    name: katib-ui

configurations:
- params.yaml
