apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
- authorizationpolicy.istio-ingressgateway-oauth2-proxy.yaml
- requestauthentication.dex-jwt.yaml

# If you're running Kubeflow behind CloudFlare, use 
# authorizationpolicy.istio-ingressgateway-oauth2-proxy-cloudflare.yaml
# instead of 
# authorizationpolicy.istio-ingressgateway-oauth2-proxy.yaml
