name: Build & Apply PodDefaults manifests in KinD
on:
  pull_request:
    paths:
    - tests/gh-actions/install_KinD_create_KinD_cluster_install_kustomize.sh
    - .github/workflows/admission_webhook_test.yaml
    - apps/admission-webhook/upstream/**
    - tests/gh-actions/install_istio-cni.sh
    - tests/gh-actions/install_cert_manager.sh
    - common/cert-manager/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install KinD, Create KinD cluster and Install kustomize
      run: ./tests/gh-actions/install_KinD_create_KinD_cluster_install_kustomize.sh

    - name: Install Istio
      run: ./tests/gh-actions/install_istio-cni.sh

    - name: Install cert-manager
      run: ./tests/gh-actions/install_cert_manager.sh

    - name: Build & Apply manifests
      run: |
        cd apps/admission-webhook/upstream
        kubectl create ns kubeflow
        kustomize build overlays/cert-manager | kubectl apply -f -
        kubectl wait --for=condition=Ready pods --all --all-namespaces --timeout 180s
