name: kustomize build example

on:
- push
- pull_request

permissions:
  contents: read
  actions: read

jobs:
  build:
    name: Test
    if: ${{ github.repository == 'kubeflow/manifests' }}
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo
      uses: actions/checkout@v5

    - name: Install KinD, Create KinD cluster and Install kustomize
      run: ./tests/install_KinD_create_KinD_cluster_install_kustomize.sh

    - name: Unit Test
      run: |
        kustomize build example
