name: Build & Apply Volumes Web Application manifests in KinD
on:
  pull_request:
    paths:
    - tests/gh-actions/install_KinD_create_KinD_cluster_install_kustomize.sh
    - .github/workflows/volumes_web_application_test.yaml
    - apps/volumes-web-app/upstream/**
    - tests/gh-actions/install_istio-cni.sh
    - common/istio*/**
    - common/oauth2-proxy/**
    - tests/gh-actions/install_oauth2-proxy.sh
    - tests/gh-actions/install_multi_tenancy.sh
    - tests/gh-actions/install_volumes_web_application.sh
    - tests/gh-actions/test_volumes_web_application.sh

env:
  KF_PROFILE: kubeflow-user-example-com

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install KinD, Create KinD cluster and Install kustomize
      run: ./tests/gh-actions/install_KinD_create_KinD_cluster_install_kustomize.sh

    - name: Install kubectl
      run: ./tests/gh-actions/install_kubectl.sh

    - name: Create Kubeflow Namespace
      run: kustomize build common/kubeflow-namespace/base | kubectl apply -f -

    - name: Install Certificate Manager
      run: ./tests/gh-actions/install_cert_manager.sh

    - name: Install Istio CNI
      run: ./tests/gh-actions/install_istio-cni.sh

    - name: Install OAuth2 Proxy
      run: ./tests/gh-actions/install_oauth2-proxy.sh

    - name: Install Kubeflow Istio Resources
      run: kustomize build common/istio-cni-1-24/kubeflow-istio-resources/base | kubectl apply -f -

    - name: Install Multi-Tenancy
      run: ./tests/gh-actions/install_multi_tenancy.sh

    - name: Create KF Profile
      run: ./tests/gh-actions/install_kubeflow_profile.sh

    - name: Install Volumes Web Application
      run: ./tests/gh-actions/install_volumes_web_app.sh

    - name: Wait for VWA Pods
      run: |
        kubectl wait --for=condition=Ready pods --all -n kubeflow --timeout 300s
        sleep 15

    - name: Port-forward the istio-ingress gateway
      run: ./tests/gh-actions/port_forward_gateway.sh

    - name: Test Volumes Web App API
      run: ./tests/gh-actions/test_volumes_web_application.sh "${KF_PROFILE}"
