apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Adds namespace to all resources.
namespace: kubeflow

# Labels to add to all resources and selectors.

generatorOptions:
  disableNameSuffixHash: true

# To make namespace for standalone installation kustomizable,
# variabalize ingress gateway, webhook service name and
# kserve namespace in webhook configurations
configMapGenerator:
- behavior: replace
  literals:
  - USERID_HEADER=kubeflow-userid
  - USERID_PREFIX=""
  - APP_PREFIX=/kserve-endpoints
  - GRAFANA_PREFIX=/grafana
  - GRAFANA_CPU_MEMORY_DB=db/knative-serving-revision-cpu-and-memory-usage
  - GRAFANA_HTTP_REQUESTS_DB=db/knative-serving-revision-http-requests
  name: kserve-models-web-app-config

configurations:
- params.yaml
resources:
- ../../base
- web-app-authorization-policy.yaml
labels:
- includeSelectors: true
  pairs:
    app: kserve
    app.kubernetes.io/name: kserve
patches:
- path: patches/web-app-vsvc.yaml
  target:
    group: networking.istio.io
    kind: VirtualService
    name: kserve-models-web-app
    namespace: kserve
    version: v1beta1
- path: patches/web-app-sidecar.yaml
